

.highlight {
    background-color: yellow;
   }
   .error {
    background-color: lightcoral;
    border: red;
   }

   body {
    background-color: #f9fafb;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    padding: 20px;
}